:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
}

footer {
	opacity: 0.7;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* Slider styles */
input[type='range'] {
	/* width: 100%; */
	display: block;
	margin: 20px auto;
	width: 400px;
	background-color: transparent;
	-webkit-appearance: none;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	background: #2a3344;
	border: 0;
	width: 100%;
	height: 25.6px;
	cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
	margin-top: -0.7px;
	width: 18px;
	height: 27px;
	background: #4f7cff;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #2a3344;
}
input[type='range']::-moz-range-track {
	background: #2a3344;
	border: 0;
	width: 100%;
	height: 25.6px;
	cursor: pointer;
}
input[type='range']::-moz-range-thumb {
	width: 18px;
	height: 27px;
	background: #4f7cff;
	border: 0;
	cursor: pointer;
}
input[type='range']::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 0.7px 0;
	color: transparent;
	width: 100%;
	height: 25.6px;
	cursor: pointer;
}
input[type='range']::-ms-fill-lower {
	background: #2a3344;
	border: 0;
}
input[type='range']::-ms-fill-upper {
	background: #2a3344;
	border: 0;
}
input[type='range']::-ms-thumb {
	width: 18px;
	height: 27px;
	background: #4f7cff;
	border: 0;
	cursor: pointer;
	margin-top: 0px;
	/*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
	background: #2a3344;
}
input[type='range']:focus::-ms-fill-upper {
	background: #2a3344;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
	/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
	input[type='range'] {
		margin: 0;
		/*Edge starts the margin from the thumb, not the track as other browsers do*/
	}
}
